/* ------------ fonts ------------ */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&family=Roboto:wght@400;900&display=swap');

/* variaveis de cores */
:root {
    /* --laranja: #ff4200; */
    --laranja: rgb(255, 68, 0, 1);
    --cinza:  #212121;
    --cinza-claro: #585858;
    /* --amareloclaro: #FFF0D2; */
    --branco: #fff;
    /* --corimgheader:rgba(255, 66, 0, 0.2) 86.28%; */
    --corimgheader:rgba(255, 66, 0, 0.2) ;
    --cinza-branco:#a0a0a0;
}

.laranja {
    color: var(--laranja);
}

.cinza {
    color: var(--cinza);
}

.cinza-claro {
    color: var(--cinza-claro);
}

/* ------------ reset ------------ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* scroll suave */
html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Inter', sans-serif;
}

/* ------------ sistema de grid com 12 colunas ------------ */

.container {
    width: 960px;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
}



.row {
    display: flex; 
    flex-flow: row wrap; 
    width: 100%;
}

.row > * {
    flex: 1; /* allow children to grow when space available */

    /* [OPTIONAL] set a 'min-width' if you want to force some wrapping */
    min-width: 7.5rem; /* max 3*120px columns on a 360px device */
}

[class*="col-"] {
    padding: 10px;
}

.col-1  { flex-basis:   8.33% }
.col-2  { flex-basis:  16.66% }
.col-3  { flex-basis:  25%    }
.col-4  { flex-basis:  33.33% }
.col-5  { flex-basis:  41.66% }
.col-6  { flex-basis:  50%    }
.col-7  { flex-basis:  58.33% }
.col-8  { flex-basis:  66.66% }
.col-9  { flex-basis:  75%    }
.col-10 { flex-basis:  83.33% }
.col-11 { flex-basis:  91.66% }
.col-12 { flex-basis: 100%    }


/* ----------------- header -------------------- */
nav {
    display: flex;
    /*Jogar os itens para o canto da página*/
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    /*Mudando a cor de fundo do menu*/
    background-color: var(--cinza);
    /*Fonte do menu*/
    font-family: 'Poppins', sans-serif;
  }

  .logo {
    /*Mudando a cor da fonte do nome*/
    color: white;
    /*Deixando o texto formatado*/
    text-transform: uppercase;
    /*Mudando o espaçamento das letras*/
    letter-spacing: 5px;
    /*Tamaho da letra*/
    font-size: 20px;
    margin-top: 30px;

  }

  .nav-links {
    /*Ajustando o tamanho e posição dos itens*/
    display: flex;
    justify-content: space-around;
    width: 40%;

  }

  .nav-links li {
    /*Sumindo com os pontos que ficavam nos itens*/
    list-style: none;


  }

  .nav-links a {
    /*Mudando a cor dos itens*/
    color: white;
    /*Mudando o espaçamento das letras dos itens*/
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
  }

  .burger {
    /*Não deixando o menu hambuguer visivel */
    display: none;
    /*aparecendo a maozinha quando clica no menu hambuguer*/
    cursor: pointer;
  }

  .burger div {
    /*Ajeitando o menu Hambuguer*/
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
  }

  /*Ajustando a altura*/
  @media screen and (max-width:1024px) {
    .nav-links {
      width: 60%;
    }
  }

  /*Ajustando a altura minima*/
  @media screen and (max-width:768px) {
    body {
      overflow-x: hidden;
    }

    /*ajustando os itens para se adequar a altura min.*/
    .nav-links {
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      /*Arrumando o menu hambuguer*/
      background-color: var(--cinza);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      /*Ajeitando a transição parar abrir o menu hambuguer*/
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }

    .nav-links li {
      opacity: 0;
    }

    .burger {
      /*para aparecer o menu hambuguer quando a tela tiver pequena*/
      display: block;
    }
  }

  /*Quando se clica no menu hambuguer, consegue abrir os itens*/
  .nav-active {
    transform: translateX(0%);
  }

  /*Animações quando se clica no menu hamburguer*/
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  /*Transformando o menu em X*/
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;

  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }


  @media screen and (max-width: 768px) {
    .nav-links.nav-active li {
      opacity: 1;
    }
  }


/*  ----------------- section inicio ------------------- */

.inicio {
     height: 100vh; 
    width: 100%;
    padding: 200px 20px;
    /* background: linear-gradient(89.9deg, rgba(33, 33, 33, 0.2) 47.8%, rgba(255, 66, 0, 0.2) 86.28%), url(img/header.jpg) no-repeat center; */
    background: linear-gradient(89.9deg, rgba(33, 33, 33, 0.2) 47.8%, var(--corimgheader)), url(img/pngwing.com\(5\).png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.inicio .container h2 {
    color: var(--branco);
    font-size: 28px;
}

.inicio .container h1 {
    color: var(--laranja);
    font-size: 64px;
    margin-bottom: 20px;
    
}

.inicio .container a {
    display: inline-block;
    background-color: var(--cinza);
    color: var(--branco);
    padding: 20px 30px;
    font-size: 22px;
    text-decoration: none;
    border-radius: 12px;
}

.inicio .container a:hover {
    background-color: var(--laranja);
    color: var(--branco);
    transition: 0.3s;
}

/* ------------- section sobre --------------- */


.sobre-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
}

.sobre-conteudo p {
    margin-bottom: 20px;
}

.sobre-conteudo span {
    font-size: 32px;
    font-weight: 900;
}

.h1-principal-laranja {
    margin: 80px 0 60px 0;
    font-size: 32px;
    color: var(--laranja);
    text-align: center;
}

/* ------------ section informações --------------------- */

#informacoes {
    background-color: var(--laranja);
    color: var(--cinza);
    position: relative;
    margin-top: -20px;
    /* z-index: 100; */
    padding: 80px 0;
}


.h1-principal-branco {
    margin-bottom: 40px;
    font-size: 32px;
    color: var(--branco);
    text-align: center;
    border: 2px solid white;
    padding: 10px;
}

h3{
    margin-bottom: 40px;
    font-size: 25px;
    color: var(--branco);
    text-align: center;
    
    
}


.tabelacor{
    background-color: var(--cinza-claro);
}
.tabelacor2{
    background-color: var(--cinza-claro);
    margin-bottom: 75px;
}

table {
    margin-bottom: 25px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--branco);
    
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }
td {
  background-color: var(--cinza-branco);
}
  tr:hover {
    background-color: #f5f5f5;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

/* ------------ Rodapé --------------------- */

footer{
    background-color: var(--cinza);
    padding: 30px;
    color: #fff;
}

/* ----------------------- responsividade --------------- */
/* ------------ tablet ------------ */
@media (max-width: 977px) {

    .container {
        width: 100%;
    }

    #sobre .row {
        flex-direction: column-reverse;
    }


}

/* ------------ celular ------------ */
@media (max-width: 700px) {

    /* menu */
    .menuprincipal h1 {
        font-size: 20px;
    }
    
    .menuprincipal .container {
        flex-direction: column;
        gap: 15px;
        padding: 0 30px;
    }
    
    .menuprincipal ul li a {
        font-size: 18px;
    }

    /* header inicio */

    .inicio {
        padding: 250px 20px;
    }

    .inicio .container h2 {
        font-size: 22px;
    }
    
    .inicio .container h1 {
        font-size: 38px;
    }

    .inicio .container a {
        font-size: 22px;
    }

    /* informacoes */

    #informacoes .row {
        flex-direction: column;
    }
    
}
p{
    align-items: center;
    text-align: center;
}
@media only screen and (max-width: 600px) {
  /* Estilos para dispositivos móveis */
  .tabelacor, .tabelacor2, .h1-principal-branco{
      margin: 10px;
  }
}